---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

const title = 'I am a naturally curious person who enjoys creating things and exploring narratives.';
---

<BaseLayout
  title={title}
  lang="en"
  bodyClass="page-longform"
  schemaType="Person"
>
  <Header slot="header" lang="en" currentPath="/me/" altLangUrl="/tr/ben/" />
  
  <article class="longform-article container">
    <header>
      <h1>{title}</h1>
    </header>
    <div class="prose">
      <p>Hi, my name is Burak Deniz Koca (I usually prefer Deniz). I am a lifelong learner from Turkey. So far my curiosity has led me to academia, where I earned degrees in <strong>English Language and Literature</strong>, <strong>American Culture and Literature</strong>, and <strong>Sociology</strong>. I recently submitted my MA thesis on "Consumerism and American Identity Crisis in Contemporary American Novels" and am currently studying <strong>Latin Language and Literature</strong>.</p>

      <p>The same curiosity led me to a career in creative media, where I've worked as a <strong>video editor</strong>, <strong>copywriter</strong>, and <strong>project director</strong>. It also led me to dabble in interests from amateur <strong>leather crafting</strong> to <strong>film screenwriting</strong>. I was, and still am, fascinated by how any content is shaped by the platform it is produced on.</p>

      <p>I'm a bit of a perfectionist (I am trying to be less of one) and can get obsessed about little details. When a workflow is broken, I feel compelled to fix it. This obsession is what has pulled me into the world of programming recently and this site is the home for all my rabbit holes from <strong>TTRPG worldbuilding</strong> and <strong>screenwriting</strong> to building web applications from the ground up.</p>
    </div>
  </article>

  <Footer slot="footer" lang="en" />
</BaseLayout>