---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
---

<BaseLayout
  title="Yaratmayı, keşfetmeyi ve yeni hikayeler öğrenmeyi seven, meraklı biriyim."
  description="Merakım beni akademiye ve yaratıcı medyaya yönlendirdi; bu site tüm ilgi alanlarımın evidir."
  lang="tr"
  bodyClass="page-longform"
  schemaType="Person"
>
  <Header slot="header" lang="tr" currentPath="/tr/ben/" altLangUrl="/me/" />

  <article class="longform-article container">
    <header>
      <h1>Yaratmayı, keşfetmeyi ve yeni hikayeler öğrenmeyi seven, meraklı biriyim.</h1>
    </header>
    
    <div class="prose">
      <p>Merhaba, ben Burak Deniz Koca (genellikle Deniz'i tercih ederim). Hayat boyu öğrenmeye tutkun biri olarak bu merakım beni akademik dünyaya yöneltti ve <strong>İngiliz Dili ve Edebiyatı</strong>, <strong>Amerikan Kültürü ve Edebiyatı</strong> ile <strong>Sosyoloji</strong> alanlarında eğitim aldım. Yakın zamanda "Çağdaş Amerikan Romanlarında Tüketim Kültürü ve Amerikan Kimlik Krizi" üzerine yüksek lisans tezimi verdim ve şu an <strong>Latin Dili ve Edebiyatı</strong> üzerine çalışıyorum.</p><p>Aynı merak, beni <strong>video editörlüğü</strong>, <strong>metin yazarlığı</strong> ve <strong>proje direktörlüğü</strong> yaptığım yaratıcı medya sektörüne taşıdı. Bu süreçte amatör <strong>deri işçiliğinden</strong> <strong>senaryo yazarlığına</strong> kadar farklı alanlarla da ilgilendim. Bir içeriğin, sunulduğu platform tarafından nasıl şekillendirildiği konusu ise her zaman ilgimi çekmiştir.</p><p>Detaylara önem veren, biraz mükemmeliyetçi bir yapım var (bunu törpülemeye çalışıyorum). Özellikle iş akışlarında bir sorunla karşılaştığımda, o sorunu çözmeden rahat edemiyorum. Beni son zamanlarda programlama dünyasına çeken de bu tutkum oldu. Bu site, <strong>TTRPG için dünyalar yaratmaktan</strong> ve <strong>senaryo yazmaktan</strong>, sıfırdan web uygulamaları geliştirmeye uzanan tüm kişisel projelerimin ve ilgi alanlarımın bir koleksiyonu.</p>
    </div>
  </article>

  <Footer slot="footer" lang="tr" />
</BaseLayout>